        <section id="sidebar" class="sidebar sidebar-content w-100">
            <nav class="">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item text-center py-3">
                            <img src="/image/icon-campaign.svg" alt="">
                        </li>
                        <li class="nav-item text-center  bg-primary py-3">
                            <img src="/image/icon-teams.svg" alt="">
                        </li>
                        <li class="nav-item text-center py-3">
                            <img src="/image/icon-leads.svg" alt="">
                        </li>
                        <li class="nav-item text-center py-3">
                            <img src="/image/icon-reports.svg" alt="">
                        </li>
                        <li class="nav-item text-center py-3 w-100 question">
                            <img src="/image/icon-help.svg" alt="">
                        </li>
                    </ul>
                </div>
            </nav>
        </section>