    <section id="topContent" class="topContent container-fluid p-0 w-100">
        <div class="container-fluid p-0">
            <nav class="navbar navbar-expand-lg navbar-light bg-light container-fluid p-0 border-bottom">
                <div class="icon-color p-4 text-center">
                    <img class="" src="/image/sw-logo-white.png" alt="">
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link text-uppercase p-4 border-right" href="#">narwhal
                        </a>
                        <p class="nav-link p-4 mb-0 text-dark">Teams</p>
                    </div>
                    <div class="ml-auto d-flex w-25 justify-content-around">
                        <img src="/image/menu notification.png" alt="">
                        <p class="my-auto">Hello, <%=current.name%></p>
                        <img class="current-user rounded-pill" src="<%=current.avatar%>" alt="">
                        <i class="fas fa-sort-down my-auto"></i>
                    </div>
                </div>
            </nav>
        </div>
    </section>